* {
    box-sizing: border-box;
    &:before{
        box-sizing: border-box;
    }
    &:after {
        box-sizing: border-box;
    }
}

html{
    font-size: 12px;
}

body{
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
}
.m-menu-active{
    transform: translateX(0%) !important;
}

.home-box{
    background-color: rgb(146, 61, 156);
    .header{
        padding-top: 2rem;
        padding-left: 20%;
        .logo{
            float: left;
        }
        .m-home-menu-icon {
            color: rgb(255, 255, 255);
            font-size: 3rem;
            margin-top: 1.5rem;
        }
        .m-menu{
            position: fixed;
            right: 0;
            top: 0;
            padding-top: 2rem;
            height: 100vh;
            width: 100%;
            list-style: none;
            text-align: center;
            line-height: 9rem;
            font-size: 3rem;
            background-color: rgb(108, 42, 122);
            transform: translateX(100%);
            transition: 0.2s;
            z-index: 10;
            a{
                color: rgb(255, 255, 255);
                text-decoration: none;
            }
            .close{
                position: fixed;
                right: 3rem;
                top: 2rem;
                font-size: 4rem;
                &:hover{
                    cursor: pointer;
                }
            }            
        }
        .home-menu{
            margin-top: 1rem;
            padding-left: 20rem;
            ul{
                list-style: none;
                li{
                    display: inline;
                }
            }
            .menu-item{
                padding: 10px 20px;
                border-radius: 5px;
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-size: 1.5rem;
                font-weight: 100;
                &:hover{
                    background-color: rgb(108, 42, 122);
                }
            }
        }
    }
    .home-body{
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 3rem;
        width: 65%;
        margin-top: 10rem;
    }
    .home-btn{
        text-align: center;
        border-radius: 5px;
        height: 15vh;
        margin-top: 5rem;
        .work-btn a{
            background-color: rgb(250, 113, 60);
            box-shadow: 0px 2px 0 rgb(245, 100, 20);
            padding: 20px 80px;
            border-radius: 5px;
            text-decoration: none;
            font-size: 1.5rem;
            color: rgb(255, 255, 255);
            &:active{
                position: relative;
                top: -3px;
            }
        }
    }
}

.about-box{
    background-color: rgb(0, 203, 166);
    .header{
        height: 50hv;
        color: rgb(255, 255, 255);
        text-align: center;
        margin-bottom: 5rem;
        padding-top: 5rem;
        h1{
            font-size: 3.5rem;
            text-transform: uppercase;
        }
        hr{
            width: 17%;
            border: none;
            height: 1px;
            color: rgb(0, 167, 138);
            background-color: rgb(0, 167, 138);
            box-shadow: 0px 1px 1px 1px rgb(0, 183, 150);
            margin-bottom: 3rem;
        }
        span{
            font-size: 1.35rem;
            width: 80%;
        }
    }
    .about-body{
        padding: 5rem 10rem;
        text-align: center;
        .about-item{
            text-align: center;
            padding: 1rem;
            //width: 25%;
            color: rgb(255, 255, 255);
            h2{
                font-size: 2rem;
            }
            p{
                font-size: 1.5rem;
            }
        }
    }
}

.work-box{
    background-color: rgb(255, 255, 255);
    .header{
        color: rgb(60, 70, 90);
        text-align: center;
        margin-bottom: 5rem;
        padding-top: 5rem;
        h1{
            font-size: 3.5rem;
            text-transform: uppercase;
        }
        hr{
            width: 17%;
            border: none;
            height: 3px;
            color: rgb(0, 167, 138);
            background-color: rgb(222, 232, 237);
            margin-bottom: 3rem;
        }
        span{
            font-size: 1.35rem;
            width: 80%;
        }
    }
    .work-body{
        margin-bottom: 10rem;
        .work-item{
            text-align: center;
            padding: 1rem;
            color: rgb(60, 70, 90);
            h2{
                font-size: 2rem;
            }
        }
    }
}

.portfolio-box{
    min-height: 1250px;
    background-color: rgb(255, 222, 148);
    .header{
        color: rgb(57, 57, 57);
        text-align: center;
        padding-top: 5rem;
        h1{
            font-size: 3.5rem;
            text-transform: uppercase;
        }
        hr{
            width: 17%;
            border: none;
            height: 3px;
            background-color: rgb(233, 196, 121);
            margin-bottom: 3rem;
        }
        span{
            font-size: 1.35rem;
            width: 80%;
        }
    }
    .portfolio-body{
        min-height: 200px;
        height: 800px;
        margin-top: 5rem;
        .slider{
            width: 90%;
            margin-left: 10rem;
            .slider-item{
                img{
                    margin: 0 auto;
                }
                p{
                    font-size: 1.5rem;
                    text-align: center;
                }
            }
        }
    }
    .portfolio-btn{
        text-align: center;
        border-radius: 5px;
        margin-top: 6rem;
        margin-left: 15rem;
        .load-btn a{
            background-color: rgb(0, 202, 166);
            box-shadow: 0px 2px 0 rgb(0, 168, 142);
            padding: 20px 80px;
            border-radius: 5px;
            text-decoration: none;
            font-size: 1.25rem;
            color: rgb(255, 255, 255);
            &:active{
                position: relative;
                top: -3px;
            }
        }
    }
}

.blog-box{
    background-color: rgb(232, 0, 123);
    .header{
        height: 50hv;
        color: rgb(255, 255, 255);
        text-align: center;
        margin-bottom: 5rem;
        padding-top: 5rem;
        h1{
            font-size: 3.5rem;
            text-transform: uppercase;
        }
        hr{
            width: 17%;
            border: none;
            height: 3px;
            background-color: rgb(195, 6, 104);
            margin-bottom: 3rem;
        }
        span{
            font-size: 1.35rem;
            width: 80%;
        }
    }
    .blog-body{
        width: 70%;
        padding-bottom: 5rem;
        .blog-item{
            padding: 1rem;
            padding-left: 2rem;
            margin: 1rem auto;
            .circle{
                height: 5rem;
                width: 5rem;
                border-radius: 50%;
                background-color: rgb(120, 120, 120);
                float: left;
            }
            .quote{
                margin: 1rem auto;
                margin-top: 0.5rem;
                padding-left: 9rem;
                padding-right: 2rem;
                font-style: italic;
                color: rgb(250, 220, 230);
                font-size: 1.35rem;
            }
            .quoted-man{
                padding-left: 9rem;
                font-size: 1.5rem;
                text-transform: uppercase;
                color: rgb(255, 255, 255);
            }
            .quoted-man-post{
                padding-left: 9rem;
                font-size: 1.25rem;
                color: rgb(250, 200, 150);
            }
        }
    }
}

.contact-box{
    background-color: rgb(63, 77, 155);
    .header{
        height: 50hv;
        color: rgb(255, 255, 255);
        text-align: center;
        margin-bottom: 5rem;
        padding-top: 5rem;
        h1{
            font-size: 3.5rem;
            text-transform: uppercase;
        }
        hr{
            width: 17%;
            border: none;
            height: 3px;
            background-color: rgb(41, 52, 114);
            margin-bottom: 3rem;
        }
        span{
            font-size: 1.35rem;
            width: 80%;
        }
    }
    .contact-body{
        width: 50%;
        padding-bottom: 10rem;
        .contact-form{
            border: 0;
            input{
                background-color: rgb(41, 52, 114);
                border: 0;
                color: rgb(255, 255, 255);
                &::-moz-placeholder{
                    color: rgb(255, 255, 255);
                }
            }
            label {
                z-index: 1;
                position: relative;
                top: -27px;
                left: 10px;
                cursor: text;
                color: rgb(255, 255, 255);
                font-weight: 400;
                font-size: 1.25rem;
                span{
                    color: rgb(255, 0, 0);
                }
            }
            textarea{
                background-color: rgb(41, 52, 114);
                border: 0;
                color: rgb(255, 255, 255);
                &::-moz-placeholder{
                    color: rgb(255, 255, 255);
                }
            }
            #label_text_message{
                z-index: 1;
                position: relative;
                top: -110px;
                left: 10px;
                cursor: text;
                color: rgb(255, 255, 255);
                font-weight: 400;
                font-size: 1.25rem;
                span{
                    color: rgb(255, 0, 0);
                }
            }
            input[type="submit"]{
                background-color: rgb(0, 188, 234);
                box-shadow: 0px 3px 0 rgb(0, 160, 200);
                border: 0;
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                font-size: 1.2rem;
                padding: 10px 80px;
                margin: 0 auto;
                margin-top: 3rem;
                width: 25rem;
                height: 5rem;
                &:hover{
                    background-color: rgb(0, 178, 224);
                    box-shadow: 0px 3px 0 rgb(0, 150, 190);
                }
                &:active{
                    position: relative;
                    top: -3px;
                }
            }
        }
    }
}

footer{
    background-color:rgb(55, 68, 144);
    .xs-menu{
        display: none;
        margin: 0 auto;
    }
    .md-menu{
        margin: 0 auto;
    }
    ul{
        list-style: none;
        li{
            display: inline;
        }
        .menu-item{
            margin-right: 4rem;
            padding: 10px 20px;
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-size: 1.75rem;
            font-weight: 100;
            &:hover{
                color: rgb(7, 138, 195);
            }
            i{
                font-size: 5rem;
            }
        }
    }
}

.rkn-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.75);
    .modal-content{
        margin: 0 auto;
        padding: 1rem;
        width: 40%;
        border: 1px solid rgb(200, 200, 200);
        text-align: center;
        .close_rkn_modal{
            font-size: 3rem;
            float: right;
            cursor: pointer;
        }
        h3{
            font-size: 3rem;
        }
        h3{
            font-size: 2rem;
        }
        img{
            width: 100%;
        }
        button{
            margin: 1rem;
        }
    }
}