* {
  box-sizing: border-box; }
  *:before {
    box-sizing: border-box; }
  *:after {
    box-sizing: border-box; }

html {
  font-size: 12px; }

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300; }

.m-menu-active {
  transform: translateX(0%) !important; }

.home-box {
  background-color: #923d9c; }
  .home-box .header {
    padding-top: 2rem;
    padding-left: 20%; }
    .home-box .header .logo {
      float: left; }
    .home-box .header .m-home-menu-icon {
      color: white;
      font-size: 3rem;
      margin-top: 1.5rem; }
    .home-box .header .m-menu {
      position: fixed;
      right: 0;
      top: 0;
      padding-top: 2rem;
      height: 100vh;
      width: 100%;
      list-style: none;
      text-align: center;
      line-height: 9rem;
      font-size: 3rem;
      background-color: #6c2a7a;
      transform: translateX(100%);
      transition: 0.2s;
      z-index: 10; }
      .home-box .header .m-menu a {
        color: white;
        text-decoration: none; }
      .home-box .header .m-menu .close {
        position: fixed;
        right: 3rem;
        top: 2rem;
        font-size: 4rem; }
        .home-box .header .m-menu .close:hover {
          cursor: pointer; }
    .home-box .header .home-menu {
      margin-top: 1rem;
      padding-left: 20rem; }
      .home-box .header .home-menu ul {
        list-style: none; }
        .home-box .header .home-menu ul li {
          display: inline; }
      .home-box .header .home-menu .menu-item {
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        font-weight: 100; }
        .home-box .header .home-menu .menu-item:hover {
          background-color: #6c2a7a; }
  .home-box .home-body {
    text-align: center;
    color: white;
    font-size: 3rem;
    width: 65%;
    margin-top: 10rem; }
  .home-box .home-btn {
    text-align: center;
    border-radius: 5px;
    height: 15vh;
    margin-top: 5rem; }
    .home-box .home-btn .work-btn a {
      background-color: #fa713c;
      box-shadow: 0px 2px 0 #f56414;
      padding: 20px 80px;
      border-radius: 5px;
      text-decoration: none;
      font-size: 1.5rem;
      color: white; }
      .home-box .home-btn .work-btn a:active {
        position: relative;
        top: -3px; }

.about-box {
  background-color: #00cba6; }
  .about-box .header {
    height: 50hv;
    color: white;
    text-align: center;
    margin-bottom: 5rem;
    padding-top: 5rem; }
    .about-box .header h1 {
      font-size: 3.5rem;
      text-transform: uppercase; }
    .about-box .header hr {
      width: 17%;
      border: none;
      height: 1px;
      color: #00a78a;
      background-color: #00a78a;
      box-shadow: 0px 1px 1px 1px #00b796;
      margin-bottom: 3rem; }
    .about-box .header span {
      font-size: 1.35rem;
      width: 80%; }
  .about-box .about-body {
    padding: 5rem 10rem;
    text-align: center; }
    .about-box .about-body .about-item {
      text-align: center;
      padding: 1rem;
      color: white; }
      .about-box .about-body .about-item h2 {
        font-size: 2rem; }
      .about-box .about-body .about-item p {
        font-size: 1.5rem; }

.work-box {
  background-color: white; }
  .work-box .header {
    color: #3c465a;
    text-align: center;
    margin-bottom: 5rem;
    padding-top: 5rem; }
    .work-box .header h1 {
      font-size: 3.5rem;
      text-transform: uppercase; }
    .work-box .header hr {
      width: 17%;
      border: none;
      height: 3px;
      color: #00a78a;
      background-color: #dee8ed;
      margin-bottom: 3rem; }
    .work-box .header span {
      font-size: 1.35rem;
      width: 80%; }
  .work-box .work-body {
    margin-bottom: 10rem; }
    .work-box .work-body .work-item {
      text-align: center;
      padding: 1rem;
      color: #3c465a; }
      .work-box .work-body .work-item h2 {
        font-size: 2rem; }

.portfolio-box {
  min-height: 1250px;
  background-color: #ffde94; }
  .portfolio-box .header {
    color: #393939;
    text-align: center;
    padding-top: 5rem; }
    .portfolio-box .header h1 {
      font-size: 3.5rem;
      text-transform: uppercase; }
    .portfolio-box .header hr {
      width: 17%;
      border: none;
      height: 3px;
      background-color: #e9c479;
      margin-bottom: 3rem; }
    .portfolio-box .header span {
      font-size: 1.35rem;
      width: 80%; }
  .portfolio-box .portfolio-body {
    min-height: 200px;
    height: 800px;
    margin-top: 5rem; }
    .portfolio-box .portfolio-body .slider {
      width: 90%;
      margin-left: 10rem; }
      .portfolio-box .portfolio-body .slider .slider-item img {
        margin: 0 auto; }
      .portfolio-box .portfolio-body .slider .slider-item p {
        font-size: 1.5rem;
        text-align: center; }
  .portfolio-box .portfolio-btn {
    text-align: center;
    border-radius: 5px;
    margin-top: 6rem;
    margin-left: 15rem; }
    .portfolio-box .portfolio-btn .load-btn a {
      background-color: #00caa6;
      box-shadow: 0px 2px 0 #00a88e;
      padding: 20px 80px;
      border-radius: 5px;
      text-decoration: none;
      font-size: 1.25rem;
      color: white; }
      .portfolio-box .portfolio-btn .load-btn a:active {
        position: relative;
        top: -3px; }

.blog-box {
  background-color: #e8007b; }
  .blog-box .header {
    height: 50hv;
    color: white;
    text-align: center;
    margin-bottom: 5rem;
    padding-top: 5rem; }
    .blog-box .header h1 {
      font-size: 3.5rem;
      text-transform: uppercase; }
    .blog-box .header hr {
      width: 17%;
      border: none;
      height: 3px;
      background-color: #c30668;
      margin-bottom: 3rem; }
    .blog-box .header span {
      font-size: 1.35rem;
      width: 80%; }
  .blog-box .blog-body {
    width: 70%;
    padding-bottom: 5rem; }
    .blog-box .blog-body .blog-item {
      padding: 1rem;
      padding-left: 2rem;
      margin: 1rem auto; }
      .blog-box .blog-body .blog-item .circle {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        background-color: #787878;
        float: left; }
      .blog-box .blog-body .blog-item .quote {
        margin: 1rem auto;
        margin-top: 0.5rem;
        padding-left: 9rem;
        padding-right: 2rem;
        font-style: italic;
        color: #fadce6;
        font-size: 1.35rem; }
      .blog-box .blog-body .blog-item .quoted-man {
        padding-left: 9rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: white; }
      .blog-box .blog-body .blog-item .quoted-man-post {
        padding-left: 9rem;
        font-size: 1.25rem;
        color: #fac896; }

.contact-box {
  background-color: #3f4d9b; }
  .contact-box .header {
    height: 50hv;
    color: white;
    text-align: center;
    margin-bottom: 5rem;
    padding-top: 5rem; }
    .contact-box .header h1 {
      font-size: 3.5rem;
      text-transform: uppercase; }
    .contact-box .header hr {
      width: 17%;
      border: none;
      height: 3px;
      background-color: #293472;
      margin-bottom: 3rem; }
    .contact-box .header span {
      font-size: 1.35rem;
      width: 80%; }
  .contact-box .contact-body {
    width: 50%;
    padding-bottom: 10rem; }
    .contact-box .contact-body .contact-form {
      border: 0; }
      .contact-box .contact-body .contact-form input {
        background-color: #293472;
        border: 0;
        color: white; }
        .contact-box .contact-body .contact-form input::-moz-placeholder {
          color: white; }
      .contact-box .contact-body .contact-form label {
        z-index: 1;
        position: relative;
        top: -27px;
        left: 10px;
        cursor: text;
        color: white;
        font-weight: 400;
        font-size: 1.25rem; }
        .contact-box .contact-body .contact-form label span {
          color: red; }
      .contact-box .contact-body .contact-form textarea {
        background-color: #293472;
        border: 0;
        color: white; }
        .contact-box .contact-body .contact-form textarea::-moz-placeholder {
          color: white; }
      .contact-box .contact-body .contact-form #label_text_message {
        z-index: 1;
        position: relative;
        top: -110px;
        left: 10px;
        cursor: text;
        color: white;
        font-weight: 400;
        font-size: 1.25rem; }
        .contact-box .contact-body .contact-form #label_text_message span {
          color: red; }
      .contact-box .contact-body .contact-form input[type="submit"] {
        background-color: #00bcea;
        box-shadow: 0px 3px 0 #00a0c8;
        border: 0;
        color: white;
        text-transform: uppercase;
        font-size: 1.2rem;
        padding: 10px 80px;
        margin: 0 auto;
        margin-top: 3rem;
        width: 25rem;
        height: 5rem; }
        .contact-box .contact-body .contact-form input[type="submit"]:hover {
          background-color: #00b2e0;
          box-shadow: 0px 3px 0 #0096be; }
        .contact-box .contact-body .contact-form input[type="submit"]:active {
          position: relative;
          top: -3px; }

footer {
  background-color: #374490; }
  footer .xs-menu {
    display: none;
    margin: 0 auto; }
  footer .md-menu {
    margin: 0 auto; }
  footer ul {
    list-style: none; }
    footer ul li {
      display: inline; }
    footer ul .menu-item {
      margin-right: 4rem;
      padding: 10px 20px;
      text-decoration: none;
      color: white;
      font-size: 1.75rem;
      font-weight: 100; }
      footer ul .menu-item:hover {
        color: #078ac3; }
      footer ul .menu-item i {
        font-size: 5rem; }

.rkn-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.75); }
  .rkn-modal .modal-content {
    margin: 0 auto;
    padding: 1rem;
    width: 40%;
    border: 1px solid #c8c8c8;
    text-align: center; }
    .rkn-modal .modal-content .close_rkn_modal {
      font-size: 3rem;
      float: right;
      cursor: pointer; }
    .rkn-modal .modal-content h3 {
      font-size: 3rem; }
    .rkn-modal .modal-content h3 {
      font-size: 2rem; }
    .rkn-modal .modal-content img {
      width: 100%; }
    .rkn-modal .modal-content button {
      margin: 1rem; }
