@media (max-width: 1319px) {
  .portfolio-box {
    min-height: 500px;
    height: 900px; }
    .portfolio-box .portfolio-body {
      height: 400px; }
      .portfolio-box .portfolio-body .slider {
        width: 100%;
        margin-left: 0; }
        .portfolio-box .portfolio-body .slider .slider-item img {
          margin: 0 auto; }
    .portfolio-box .portfolio-btn {
      margin-left: 0; } }

@media (min-width: 1025px) {
  html {
    font-size: 12px; }
  .m-home-menu-icon {
    display: none; }
  footer .xs-menu {
    display: none; } }

@media (max-width: 1024px) {
  html {
    font-size: 10px; }
  .display-md {
    display: none; }
  footer .md-menu {
    display: none; }
  footer .xs-menu {
    display: inline; }
    footer .xs-menu .menu-item {
      margin-right: 0;
      padding: 10px 10px; } }

@media (max-width: 768px) {
  html {
    font-size: 9px; }
  .portfolio-box {
    min-height: 500px;
    height: 750px; }
    .portfolio-box .portfolio-body {
      height: 400px; }
      .portfolio-box .portfolio-body .slider {
        width: 100%;
        margin-left: 0; }
        .portfolio-box .portfolio-body .slider .slider-item img {
          margin: 0 auto; } }

@media (max-width: 540px) {
  .portfolio-box {
    min-height: 200px;
    height: 750px; }
    .portfolio-box .portfolio-body {
      height: 300px; }
      .portfolio-box .portfolio-body .slider {
        width: 100%;
        margin-left: 0; }
        .portfolio-box .portfolio-body .slider .slider-item img {
          margin: 0 auto;
          width: 90%; } }

@media (max-width: 420px) {
  .portfolio-box {
    min-height: 200px;
    height: 650px; }
    .portfolio-box .portfolio-body {
      height: 300px; }
  .blog-box .blog-body {
    width: 99%; }
  .contact-box .contact-body .contact-form input[type="submit"] {
    width: 120px;
    padding: 10px 10px; } }

@media (max-width: 320px) {
  .portfolio-box .portfolio-btn .load-btn a {
    padding: 20px 50px; }
  .rkn-modal .modal-content {
    width: 80%; } }
